<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<div align="center">
    <table border="1">
        <thead>
            <tr>
                <th> Name </th>
                <th> Email </th>
                <th> Phone </th>
            </tr>
        </thead>
        <tbody>
            <tr th:each = "user : ${listUsers}">
                <td th:text=" ${user.name}"></td>
                <td th:text=" ${user.email}"></td>
                <td th:text=" ${user.phone}"></td>
            </tr>
        </tbody>
    </table>

</div>
</body>
</html>